# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs & Editor configurations
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# Logs & Debug files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
hs_err_pid*

# System and Local Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# =========================================================================
# Backend (Java / Maven)
# =========================================================================
target/
build/
out/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.mvn/wrapper/maven-wrapper.jar
HELP.md

# =========================================================================
# Frontend (Node / React / Vite)
# =========================================================================
node_modules/
dist/
.vite/
.eslintcache
.stylelintcache
coverage/
jspm_packages/
web_modules/



docs/
